
div.name{

	font-size:40px;
	font-family: arial;
}
div.words{

	font-size:30px;
	font-family: ocrastd;
}
div.word{

	font-size:30px;
	font-family: ocrastd;
}
div.last{
	font-size:30px;
	font-family: ocrastd;
	
}

#siteName{
	font-size:50px;
	padding:8px;
	margin:auto;
}

body{
	background:linear-gradient(#D2FCF9,#F1A7FB);
	background-repeat:no-repeat;
	background-size: cover;
	height: 500vh;
	overflow: scroll;


}

ul{
	list-style-type: none;
	
	
	font-size: 30px;
	padding: 8px;
}

li{
	padding:6px;
	color: black;
	text-decoration:none;
}
a{
	text-decoration:none;
}
li:hover{
	text-decoration:underline;
}
#homePic{
	border-radius:30px;
	opacity: 65%;
	position: relative;
	width: 1000px;
	margin-left:20%;
	/*top: 10%;*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}
.box{
	padding:8px;
	margin-top:10px;
	position:absolute;
	background:white;
	opacity:80%;
	border-radius:30px;
	bottom:10%;
	z-index: 1;
}

.testArea{
	background:white;
	/*width:500px;*/
	position: relative;
  top: 25%;
  left: 50%;
  /*margin-top: 50vh;*/
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display:flex;
  border-radius: 40px;
  text-align:center;
  justify-content:center;
  align-items: center;
  max-width:200px;
 
}
.q1C{
	text-align:center;
	padding: 10px;
}
.text{
	font-size:20px;
}
.texts{
	font-size:20px;
}
.home{
	font-size:20px;

}
label input{
	position:absolute;

	margin-top:50px;
}

.resultButton{
	font-size:48px;
	font-family: georgia;
	background:#488EFF;
	border:none;
	border-radius:14px;
	color:white;
	margin:10px;
}
.resultButton:hover{
	text-decoration:underline;
	background:#58AFF5;

}

input{
	
	font-size:20px;
	

}
input #age{
	color:green;
}